<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="resources/css/style_login_register.css">
    <title>Sección COPIAS</title>
</head>
<body>
    <div class="register-form">
        <h1> COPIAS </h1>
        <form action="register" method="POST">


            <label for="deteriorada" >Deteriorada: No</label><br>
            <!-- <input type="text" name="deteriorada" required> -->

            <label for="formato" >Formato: 4k</label><br>
            <!-- <input type="text" name="formato" required> -->

            <label for="Id_pelicula" >ID PELICULA: 0892</label><br>
            <!-- <input type="text" name="Id_pelicula" required> -->

            <label for="precio_alquiler" >Precio Alquiler: 15$</label><br>
            <!-- <input type="text" name="precio_alquiler" required> -->

            <div style="display: inline;">
            <a href="/home" class="btn-cancel">Cancel</a><a href="/prestamos" class="btn-save" >Siguiente</a>
            </div>
        </form>
    </div>

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <% if(typeof alert != "undefined") { %>
        <script>
            Swal.fire({
                title: '<%= alertTitle %>',
                text: '<%= alertMessage %>',
                icon: '<%= alertIcon %>',
                showConfirmButton: '<%= showConfirmButton %>',
                timer: <%= timer %>
            }).then(()=>{
                window.location='/<%= ruta %>'
            })
        </script>
        <% } %>
</body>
</html>