<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="resources/css/style_login_register.css">
    <title>Registro Cinemateca UD</title>
</head>
<body>
    <div class="register-form">
        <h1> Formulario de Registro</h1>
        <form action="register" method="POST">
            <label for="dni" >DNI</label>
            <input type="text" name="dni" required>

            <label for="nombre" >Nombre</label>
            <input type="text" name="nombre" required>

            <label for="apellido1" >Primer Apellido</label>
            <input type="text" name="apellido1" required>

            <label for="apellido2" >Segundo Apellido</label>
            <input type="text" name="apellido2" required>

            <label for="direccion" >Dirección</label>
            <input type="text" name="direccion" required>

            <label for="email" >Correo</label>
            <input type="text" name="email" required>

            <label for="pass" > Contraseña</label>
            <input type="password" name="pass" required>

            <div style="display: inline;">
            <a href="/login" class="btn-cancel">Cancel</a><input type="submit" class="btn-save" value="Save">
            </div>
        </form>
    </div>

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <% if(typeof alert != "undefined") { %>
        <script>
            Swal.fire({
                title: '<%= alertTitle %>',
                text: '<%= alertMessage %>',
                icon: '<%= alertIcon %>',
                showConfirmButton: '<%= showConfirmButton %>',
                timer: <%= timer %>
            }).then(()=>{
                window.location='/<%= ruta %>'
            })
        </script>
        <% } %>
</body>
</html>